<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <style>

         a:hover {
             color: pink;
         }
            nav{
                background: #ff5353;
                padding: 25px  25px;
                height: 50px;
                
            }
            nav ul{
                max-width: 960px;
                margin: 0 auto;
                padding: 0;
            }
            nav li{
                display: inline-block;
                margin: auto;
            }
            nav a{
                                       border-radius: 25px;
       font-size: 25px;
    border-style: solid;
    border-color: white;
                color: #fff;
                text-decoration: none;
                padding: 10px;
                display: block;
            }
            main, header{
                max-width: 960px;
                margin: 30px auto;
                padding: 0 10px;
                color: #333;
            }
            .google-btn{
                
    border-style: solid;
    border-color: pink;
                color: #fff;
                text-decoration: none;
                font-size: 25px;
                background: #ff5353;
                margin: 50px 50px 50px 50px;
                height: 100px 
                ;
                padding: 6px 7px 5px 7px;
                 border-radius: 25px;
            }

        </style>
    </head>
    <body>
        <nav>
            <ul>
                <% if (user) { %>
                <li><a href="/auth/logout">Log out</a></li>
                <% } else { %>
                <li><a href="/auth/login">Login</a></li>
                <% } %>
                <li><a href="/">Homepage</a></li>
                <li><a href="/profile">Profile</a></li>
            </ul>
        </nav>
        <header>
            <h1>Login using...</h1>
        </header>
        <main>
           <li> <a class="google-btn" href="/auth/google">sing in with Google+</a></li></br>
            <li><a class="google-btn" href="/auth/twitter">Sign in with Twitter</a></li></br>
            <li><a class="google-btn" href="/auth/github">Sign in with github </a></li></br>
                        <li><a class="google-btn" href="/auth/instagram">Sign in with instagram </a></li></br>
                                                <li><a class="google-btn" href="/auth/linkedin">Sign in with linkeidn </a></li></br>


        </main>
    </body>
</html>
